p Now you're really harping.

p: a(href="/DELETE-AFTER-READING") DELETE THIS FOLDER AFTER YOU READ IT

p: a(href="DELETE-AFTER-READING/blog-post-template") This is a copyable template for a blog. Delete this one too.

