p Welcome to the Delete After Reading section.

p This just shows how you might have multiple stylesheets, layouts etc.

p The CSS for this page and the one below are stored in "_data.json" as detailed in <a href="http://harpjs.com/docs/development/layout">the Harp layout docs</a>.
 
:markdown
	See [another example](another-delete)